* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button, input, textarea, select {
    font: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Josefin+Sans&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    background-image: url('./imgs/Gemini_Generated_Image_ptmym0ptmym0ptmy.png');
    background-size: cover;
    background-size: center;
}

/* CABEÇALHO DA PÁGINA */

header {
    width: 100%;
    padding: 2% 0 2% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    cursor: pointer;
}

.titulos > p {
    color: white;
}

.titulos > p:hover {
    color: rgb(247, 234, 162);
    transition: 1000ms;
}

/* NAVEGAÇÃO */

nav {
    width: 100%;
    padding: 5% 0 5% 0;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.4);
}

.titulo-nav {
    color: white;
    font-size: 300%;
    font-family: 'Playfair Display', serif;
}

#btnAgendar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: none;
    border-color: white;
    color: white;
    width: 250px;
    height: 60px;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    cursor: pointer;
}

/* CONTEÚDO */

main {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10% 0 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.grupo > div {
    text-align: center;
}

.grupo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.grupo p {
    color: white;
    font-family:'Playfair Display', serif;
    font-size: 3.0rem;
}

p > .logbob {
    color: white;
}

p > .longbob:hover {
    color: orange;
}

p > .borboleta {
    color: white;
}

p > .borboleta:hover {
    color: rgb(214, 139, 0);
}

p > .chanel {
    color: white;
}

p > .chanel:hover {
    color: yellow;

}
p > .pixiecut {
    color: white;
}

p > .pixiecut:hover {
    color: greenyellow;
}

p > .shaghair {
    color: white;
}

p > .shaghair:hover {
    color: gold;
}

p > .camadas {
    color: white;
}

p > .camadas:hover {
    color:crimson;
}

/* CRÉDITO */

.coluna {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background-color: black;
    z-index: 10;
}

.coluna-esquerda {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    background-color: black;
    z-index: 10;
}

.credito {
    width: 100dvw;
    display: flex;
    justify-content: center;
}

.carrosel-container {
    width: 100%;
    height: 460px;
    overflow: hidden;
    position: relative;
}

.carrosel-track {
    display: flex;
    width: max-content;
    height: 100%;
    animation: mover-carrosel 25s linear infinite;
}

.carrosel-track > img {
    height: 100%;
    width: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.carrosel-container:hover .carrosel-track {
    animation-play-state: paused;
}

@keyframes mover-carrosel {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
    
}






